.container {
    .title {
        background-color: #222;
        text-align: center;
        color: #fff;
        padding: 20rpx 0;
    }

    .van-cell {
        background-color: rgb(49, 49, 49);
        color: #fff;

        .van-cell_title {
            background-color: #222;
        }
    }

    .cell {
        background-color: #000;
        display: flex;

        .icon {
            height: 100rpx;
            width: 100rpx;
            background-color: #000;
            margin-right: 40rpx;

            image {
                width: 100%;
                height: 100%;
            }
        }

        .content {
            width: 545rpx;
            view {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .mv {
        background-color: #000;
        color: aliceblue;
        .img {
            image {
                width: 100%;
            }
        }
    }
}